<div>
   <body style="background-color:beige;"> 
    <p style="color:black; text-align: center; ">SMS gives the perfect website to check the data of students  .  you can find the data related to all Students in the School signs up with REVE Chat, a welcome message is sent immediately to the new users thanking them and provide instructions to get started successfully. You can also include the introductory video to guide customers to use the product.tware designed to track and manage all the data created<br> by the school such as a student's Names, DOBs, intrested subjects etc., as well as other school-related data.</p>
    <img [src]="HomeImage" alt="StudentImage" width="50000" height="500" class="center">
</body>
</div>
